{% extends "lara_base.html" %}

{% load static %}

{% load javascript_settings_tags %}

{% if device %}

{% block title %}device-detail{% endblock %}

{% block head %}

<meta charset='utf-8' />

<link rel="stylesheet" type="text/css" href="{% static "css/fullcalendar/fullcalendar.min.css" %}" media="screen">
<link rel="stylesheet" type="text/css" href="{% static "css/fullcalendar/fullcalendar.print.min.css" %}" media="print">

<style>
  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }
</style>

{% endblock %}

{% block top %} 
  <div>
    <h1> Calendar for :  {{device.name}} ({{ device.model_no}}) </h1>
         <img style="width:100px" align="right" src="{% static "lara_devices/"%}{{device.name}}/{{device.name}}.jpg" alt="{{device.name}}">
  </div>
  <p> {{device.description}}  </p> 
 
{% endblock %}

{% block main_content %}

<button>Submit Ajax request 0.2a !</button>

ajax answer:
--
<p id="bl1"></p>
-- 
<h1>Calendar</h1>

{#% load fullcalendar_tags %#}

        <div id="calendar-device" class="calendar">
        
                 Here should the calendar appear:
                 ----
                 <div id="calendar" class="calendar"> </div>
                 ----
        </div>

<div class='info-box' > 
    <div class='info-box-main'>
    </div>

    <div class='info-box-detail'>
        <ul class='plain-list'>
           <li> Name: {{ device.name }} </li> 
           <li> Model: {{ device.model_no }} </li> 
        </ul>
    </div>
</div>
{% endblock %}

{% block javascript %}

{#%  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>  %#}

<script src="{% static "lib/moment.min.js" %}"> </script>
<script src="{% static "lib/jquery.min.js" %}"> </script>
<script src="{% static "fullcalendar/fullcalendar.min.js" %}"> </script>

<script src="{% static "lib/ajax_scripts.js" %}"></script>

<script>
   
  // setting javascript from django
  {% javascript_settings %}
  
  $(document).ready(function() {
    $('#calendar').fullCalendar({{calendar_options | safe}});
  });

</script>

{% endblock %}
    

{% else %}
    <p>Sorry, no Device details available.</p>
{% endif %}
