{% extends "lara_base.html" %}

{% load static %}

{% if device %}

{% block title %}device-detail{% endblock %}

{% block top %} 
  <h1> dev det.: {{device.name}} ({{ device.model_no}}) </h1>
  <p> {{device.description}}  </p> 
  <div class='portrait-image' > 
      <a> <img style="width:180px" src="{% static "lara_devices/"%}{{device.name}}/{{device.name}}.jpg" alt="{{device.name}}">
     </a>
        
  </div>
{% endblock %}

{% block main_content %}
<div class='info-box' > 
    <div class='info-box-main'>
    </div>

    <div class='info-box-detail'>
        <ul class='plain-list'>
           <li> Name: {{ device.name }} </li> 
           <li> Model: {{ device.model_no }} </li> 
           <li> Serial no.: {{ device.serial_no }} </li> 
           <li> Service no. {{ device.service_no }} </li>
           <li> Registration no.: {{ device.registration_no }} </li>
           <li> Fabrication date: {{ device.fabrication_date }} </li>
        </ul>
    </div>
</div>
{% endblock %}

{% else %}
    <p>Sorry, no Device details available.</p>
{% endif %}
