{% extends "lara_base.html" %}

{% block title %}search-results{% endblock %}

{% block top %} 
  <h1> Device Search Results </h1>
  <p>  </p> 
{% endblock %}

{% block main_content %}
{% if device_list %}
    <ul>
    {% for item in device_list %}
       <li><a href="{% url 'lara_devices:device-detail' item.device_id %}" title={{ item.name }}> {{ item.name }} </a> </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No matching devices found.</p>
{% endif %}

{% endblock %}

